<template name="appLayout">
    {{> yield}}
</template>

<template name="loading">
	<div class="units-row">
        <i class="fa fa-spinner"></i>
    </div>
</template>

<template name="home">
    <header class="navbar">
    	<h1 class="text-centered">Nearest NPR Affiliates</h1>
    </header>
    <section id="app-render">
        
    </section>
</template>