@import "/less/kube.import.less";
@import "/less/less-media-queries.import.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* =============================================================================
   Imports
   ========================================================================== */
// @import url('../public/css/less/slick.less');
// @import url('../public/css/less/icomoon.less');

/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Authors: John Gibby @thatgibbyguy || Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */


/* ==|== CSS Styles, IDs & Elements ===================================================== */
header{ background: @color-blue-pastel; padding: 1.75em .5em 1.5em; position:fixed; top: 0; left: 0; .width-100; z-index: 10;
	h1{ color: white; font-size: .8em; letter-spacing: .05em; .upper; margin-bottom: 0; }
}

#app-render{ padding-top: 3.85em; position: relative; display: block; z-index: 1; .text-centered; }

.loading{ display: inline-block; padding-top: 5em; }

@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }

  5% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }

  5% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

.ball-scale-multiple {
  position: relative;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px); }
.ball-scale-multiple > div:nth-child(2) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.ball-scale-multiple > div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.ball-scale-multiple > div {
  background-color: @color-blue-pastel;
  // width: 15px;
  // height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  position: absolute;
  left: -60px;
  top: 0px;
  opacity: 0;
  margin: 0;
  width: 120px;
  height: 120px;
  -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
          animation: ball-scale-multiple 1s 0s linear infinite; }

/*
 * Animation
 */
@-webkit-keyframes ball-scale-multiple {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    5% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-moz-keyframes ball-scale-multiple {
    0% {
        opacity: 0;
        -moz-transform: scale(0);
             transform: scale(0);
    }
    5% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        -moz-transform: scale(1);
             transform: scale(1);
    }
}
@-o-keyframes ball-scale-multiple {
    0% {
        opacity: 0;
        -o-transform: scale(0);
           transform: scale(0);
    }
    5% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        -o-transform: scale(1);
           transform: scale(1);
    }
}
@keyframes ball-scale-multiple {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
             -o-transform: scale(0);
                transform: scale(0);
    }
    5% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}

#info{ padding:.6em 0 0; background:lighten(@color-gray-pastel, 7%);
  h1{ font-size: 1.05em; color: @color-blue-pastel; font-weight: normal; padding:2em 1.25em; background: white; text-align: left; 
    strong{ font-size: 2em; color: @color-black-light; }
  }
}

/* ==|== Custom LESS Variables ===================================================== */

/* ==|== Custom LESS Mixins ===================================================== */

.headlines{  }
.subhead{  }
.bodycopy{  }
.btn{  }

.no-margin{ margin: 0; }
.no-padding{ padding: 0; }
.upper{ text-transform: uppercase; }
.centered{ text-align: center; }
.italic{ font-style: italic; }
.no-bull{ list-style: none; }
.show{ display: block; }
.hide{ display: none; }
.rounded-corners (@radius: 10px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.table{ display: table; }
.table-cell{ display:table-cell; }

/* ==|== Responsive Styles ===================================================== */

@media @genericMobile{
}

@media @genericPhablet{
}

@media @genericPhone{ 
}

